:root {
    --primary-color: #1f2129;
    /* shark */
    --secondary-color: #d4ccbb;
    /* swiss-coffee */

}

/* General Styles */

body {
    height: 100vh;
    background-color: #e1d9d9;
}

h3,
h2 {
    padding:10px 0px;
}

.section {
    padding-bottom: 10px;
}

/* Header */
header,
nav a,
footer {
    background-color: var(--primary-color);
    color: var(--secondary-color) !important;
}

/* Hero section */
.hero-image {
    background: url(../images/bruce-mars-HHXdPG_eTIQ-unsplash\ \(1\).jpg) center center / cover;
    padding-top: 19em !important;
}

.hero-text {
    justify-items: center;
    align-content: center;
    padding-top: 20px;
}

.btn {
    margin: 17px;
}

/* Footer */

footer {
    padding: 25px 10px;;
}

