/* imported Oswald and teko fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Teko:wght@300..700&display=swap');

:root {
    --primary-color: #1f2129;
    /* shark */
    --secondary-color: #d4ccbb;
    /* sisal */
    --highlight: #9e8875;
    /* donkey brown */
    --highlight-light: #e1d9d9;
    /* sisal swiss-coffee */


}

/* General Styles */

body {
    background-color: #e1d9d9;
    font-family: "Oswald", sans-serif;
    font-size: 18px;
}

h2,
h3,
h4 {
    padding: 10px 0px;
}



.section {
    padding-bottom: 10px;
    margin-right: 100px;
}



/* Header */
header,
nav a,
footer {
    background-color: var(--primary-color);
    color: var(--highlight) !important;
    font-family: "teko", sans-serif;
}


/* navbar */
#navbar ul li {
    font-size: 27px;
}

/* brand alters the brand name in the header */
#brand {
    font-size: 40px !important;
    font-family: "teko", sans-serif;
}

/* main content*/
main {
    padding-top: 0px;
}

/* Hero section */

#hero {
    position: relative;
}

.hero-image {
    background: url(../images/pexels-victorfreitas-841130.jpg) center center / cover;
    padding-top: 25em !important;
}

.hero-text {
    text-align: left;
    margin-top: 9em;
    position: absolute;
    color: var(--highlight-light);
    width: 60%;
    font-size: 30px;
    background-color: rgba(12, 12, 12, 0.432);
}

.hero-btn {
    margin-bottom: 20px;
    width: 65%;
    font-size: 1.2rem;
}

/* why us section */

#why-us {
    justify-content: left;
}

#why-us li {
    list-style: none;
    text-align: left;
}

#why-us li h4 {
    margin: 5px;
}

#why-us ol,
#why-us ul {
    padding-left: 5px;
    padding-right: 5px;
}

#why-us ol h4 {
    color: var(--highlight);
}

#why-us-image {
    background: url(../images/bruce-mars-ZXq7xoo98b0-unsplash.jpg) center center / cover;
    min-height: 300px;
}

/* Footer */

footer {
    padding: 5px 10px;
}

/* Social media */

#contact a {
    color: inherit;
    padding: 0px 10px;
    font-size: 2rem;
}

.social {
    text-align: center;
}